<section class="about-us__start">
    <video poster="video/CastAway/CastAway.jpg" id="bgvid" playsinline autoplay muted loop>
        <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
        <source src="video/CastAway/CastAway.webm" type="video/webm">
        <source src="video/CastAway/CastAway.mp4" type="video/mp4">
    </video>
    <div class="container">
        <div class="about-us__start__logo">
            <img src="img/logo_square.svg" alt="logoimg">
        </div>
        <div class="about-us__start__description">
            <span>ТУРИСТИЧЕСКОЕ АГЕНСТВО, КАЗАХСТАН </span>
        </div>
        <div class="about-us__start__title">
            Компания
        </div>

        <div class="about-us__start__title-desc">
            Мы трудимся, чтобы наши клиенты были счастливы.
        </div>
        <div class="mouse">
            <a href="#features">
                <img src="img/mouse.png" alt="">
            </a>
        </div>
    </div>
</section>
