<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <div class="icon-block">
            <i class="icon icon-cross"></i>
        </div>
    </button>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="contact">
                <div class="title">Связь</div>
                <div class="description">
                    Напишите ваш вопрос и мы свяжемся с вами в ближайшее время.
                </div>
                <div class="input-block">
                    <input type="text" placeholder="Имя">
                </div>
                <div class="input-block input-block--icon">
                    <input type="text" placeholder="Телефон">
                    <div class="icon-block">
                        <i class="icon icon-phone-gray"></i>
                    </div>
                </div>
                <div class="input-block input-block--icon">
                    <input type="text" placeholder="Email">
                    <div class="icon-block">
                        <i class="icon icon-letter-gray"></i>
                    </div>
                </div>
                <a href="javascript:void(0);" class="footer__btn">связаться</a>
            </div>
        </div>
    </div>
</div>

