<section id="features" class="features">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 offset-xl-3">
                <div class="title">
                    Любителям путешествовать, деловым и бизнес партнерам и всем, кто впервые собрался совершить
                    туристическую поездку!
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-8 offset-xl-2">
                <div class="welcome">
                    <span>Приветствуем Вас на нашем сайте!</span>
                    <span>Компания «Триумф Travel» предоставляет все виды туристических услуг:</span>
                    На сегодняшний день Казахстан привлекает иностранных туристов. Наша команда готова оказать любые
                    внутренние туристические и корпоративные услуги туристам всех стран в Казахстан и в страны СНГ.
                    <span>Этот спектр услуг может предложить каждая компания.</span>
                    Почему выбирают нас? Потому что мы выбираем качество!
                </div>
            </div>
        </div>

        <div class="features__list">
            <div class="features__item">
                <div class="icon-block">
                    <i class="icon icon-diamond"></i>
                </div>
                <span>Индивидуальный сервис</span>
                <p>Ваш персональный менеджер всегда на связи и готов обсудить индивидуальные условия.</p>
            </div>
            <div class="features__item">
                <div class="icon-block">
                    <i class="icon icon-safe"></i>
                </div>
                <span>Гарантии</span>
                <p>Мы заработали надежную репутацию на этом рынке и делом доказали свой профессионализм.</p>
            </div>
            <div class="features__item">
                <div class="icon-block">
                    <i class="icon icon-timer"></i>
                </div>
                <span>Минимальные сроки</span>
                <p>По итогам этого года мы организовали 89% туров быстрее заявленного срока.</p>
            </div>
        </div>

    </div>
</section>