<section class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3">
        <div class="footer__logo">
          <a href="javascript:void(0);">
            <img src="img/logo.svg" alt="logoimg">
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-3 col-lg-3 col-md-5 col-sm-12 col-xs-12">
        <div class="address">
          <span>г. Астана</span><br>
          <span>пр. Кабанбай Батыра, 13</span><br>
          <span>+7 (7172) 688 648</span><br>
          <span>+7 775 713 60 72</span><br>
          <span>info@triumphtravel.kz</span><br>
        </div>
      </div>
      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12">
        <div class="footer__nav">
          <ul class="footer__nav__list">
            <li><a href="../index.html">Главная</a></li>
            <li><a href="../about-us.html">О нас</a></li>
            <li><a href="../service-internal-page.html">Услуги</a></li>
            <li><a href="../destination-page.html">Авиабилеты</a></li>
            <li><a href="../tours-page.html">Туры</a></li>
          </ul>
        </div>
      </div>
      <div class="col-xl-2 col-lg-2 col-md-3 col-sm-12 col-xs-3">
        <div class="footer__nav">
          <ul class="footer__nav__list">
            <li><a href="../service-page.html">Партнерство</a></li>
            <li><a href="javascript:void(0);">Контакты</a></li>
          </ul>
        </div>
      </div>
      <div class="col-xl-1 col-lg-1 col-md-2 col-sm-12 col-xs-12">
        <div class="languages">
          <span>Languages:</span>
          <a href="javascript:void(0);">English</a>
          <a href="javascript:void(0);">Русский</a>
        </div>
      </div>
      <div class="col-xl-3 offset-xl-1 offset-lg-1 col-lg-3 col-md-12 col-sm-12 col-xs-12">
        <div class="contact">
          <div class="description">
            Напишите ваш вопрос и мы свяжемся с вами в ближайшее время.
          </div>
          <div class="input-block">
            <input type="text" placeholder="Имя">
          </div>
          <div class="input-block input-block--icon">
            <input type="text" placeholder="Телефон">
            <div class="icon-block">
              <i class="icon icon-phone"></i>
            </div>
          </div>
          <div class="input-block input-block--icon">
            <input type="text" placeholder="Email">
            <div class="icon-block">
              <i class="icon icon-letter"></i>
            </div>
          </div>
          <a href="javascript:void(0);" class="footer__btn">связаться</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="social">
          <div class="icon-block">
            <a href="javascript:void(0);"><i class="icon icon-facebook"></i></a>
          </div>
          <div class="icon-block">
            <a href="javascript:void(0);"><i class="icon icon-instagram"></i></a>
          </div>
          <div class="icon-block">
            <a href="javascript:void(0);"><i class="icon icon-instagram"></i></a>
          </div>
          <div class="icon-block">
            <a href="javascript:void(0);"><i class="icon icon-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6 offset-xl-6 offset-lg-6 col-lg-6 col-md-12 col-sm-12">
        <div class="rights">
          <span>© TRIUMPH TRAVEL 2018–2019   info@t-travel.kz  </span>
          <img style="padding-left: 10px;" src='img/designlabel.png' alt="">
        </div>
      </div>
    </div>
  </div>

</section>
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <div class="icon-block">
      <i class="icon icon-cross"></i>
    </div>
  </button>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="contact">
        <div class="title">Связь</div>
        <div class="description">
          Напишите ваш вопрос и мы свяжемся с вами в ближайшее время.
        </div>
        <div class="input-block">
          <input type="text" placeholder="Имя">
        </div>
        <div class="input-block input-block--icon">
          <input type="text" placeholder="Телефон">
          <div class="icon-block">
            <i class="icon icon-phone-gray"></i>
          </div>
        </div>
        <div class="input-block input-block--icon">
          <input type="text" placeholder="Email">
          <div class="icon-block">
            <i class="icon icon-letter-gray"></i>
          </div>
        </div>
        <a href="javascript:void(0);" class="footer__btn">связаться</a>
      </div>
    </div>
  </div>
</div>
<!-- END Modal -->

<script src="js/libs.js"></script>

