<section class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3">
        <div class="footer__logo">
          <a href="#">
            <img src="img/logo.svg" alt="logoimg">
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-3 col-lg-3 col-md-5 col-sm-12 col-xs-12">
        <div class="address">
          <span>г. Астана</span><br>
          <span>пр. Кабанбай Батыра, 13</span><br>
          <span>+7 (7172) 688 648</span><br>
          <span>+7 775 713 60 72</span><br>
          <span>info@triumphtravel.kz</span><br>
        </div>
      </div>
      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12">
        <div class="footer__nav">
          <ul class="footer__nav__list">
            <li class="footer__nav__item"><a href="../index.html">Главная</a></li>
            <li class="footer__nav__item"><a href="../about-us.html">О нас</a></li>
            <li class="footer__nav__item"><a href="../service-page.html">Услуги</a></li>
            <li class="footer__nav__item"><a href="#">Авиабилеты</a></li>
            <li class="footer__nav__item"><a href="#">Туры</a></li>
          </ul>
        </div>
      </div>
      <div class="col-xl-2 col-lg-2 col-md-3 col-sm-12 col-xs-3">
        <div class="footer__nav">
          <ul class="footer__nav__list">
            <li class="footer__nav__item"><a href="#">Партнерство</a></li>
            <li class="footer__nav__item"><a href="#">Контакты</a></li>
          </ul>
        </div>
      </div>
      <div class="col-xl-1 col-lg-1 col-md-2 col-sm-12 col-xs-12">
        <div class="languages">
          <span>Languages:</span>
          <a href="#">English</a>
          <a href="#">Русский</a>
        </div>
      </div>
      <div class="col-xl-3 offset-xl-1 offset-lg-1 col-lg-3 col-md-12 col-sm-12 col-xs-12">
        <div class="contact">
          <div class="description">
            Напишите ваш вопрос и мы свяжемся с вами в ближайшее время.
          </div>
          <div class="input-block">
            <input type="text" placeholder="Имя">
          </div>
          <div class="input-block input-block--icon">
            <input type="text" placeholder="Телефон">
            <div class="icon-block">
              <i class="icon icon-phone"></i>
            </div>
          </div>
          <div class="input-block input-block--icon">
            <input type="text" placeholder="Email">
            <div class="icon-block">
              <i class="icon icon-letter"></i>
            </div>
          </div>
          <a href="#" class="footer__btn">связаться</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="social">
          <div class="icon-block">
            <a href="#"><i class="icon icon-facebook"></i></a>
          </div>
          <div class="icon-block">
            <a href="#"><i class="icon icon-instagram"></i></a>
          </div>
          <div class="icon-block">
            <a href="#"><i class="icon icon-instagram"></i></a>
          </div>
          <div class="icon-block">
            <a href="#"><i class="icon icon-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6 offset-xl-6 offset-lg-6 col-lg-6 col-md-12 col-sm-12">
        <div class="rights">
          <span>© TRIUMPH TRAVEL 2018–2019   info@t-travel.kz  </span>
          <img style="padding-left: 10px;" src='img/designlabel.png' alt="">
        </div>
      </div>
    </div>
  </div>

</section>
