<div class="hamburger">
  <span>меню</span>
  <div class="fa-block">
    <i class="fa fa-bars" aria-hidden="true"></i>
  </div>
</div>
<div class="cross">
  <div class="cross-block">
    <span>меню</span>
    <div class="fa-block">
      <i class="fa fa-times" aria-hidden="true"></i>
    </div>
  </div>
</div>
<div class="menu">
  <ul>
    <li><a href="../index.html">Главная</a></li>
    <li><a href="../about-us.html">О нас</a></li>
    <li><a href="../service-internal-page.html">Услуги</a></li>
    <li><a href="../destination-page.html">Авиабилеты</a></li>
    <li><a href="../tours-page.html">Туры</a></li>
    <li><a href="../service-page.html">Партнерство</a></li>
    <li><a href="javascript:void(0);">Контакты</a></li>
  </ul>
</div>