<div class="header">
  <div class="header__down">
    <div class="header__logo">
      <a href="#">
        <img src="img/logo.svg" alt="logoimg">
      </a>
    </div>
    <div class="header__nav">
      <ul class="header__nav__list">
        <li class="header__nav__item"><a href="#">Главная</a></li>
        <li class="header__nav__item"><a href="#">О нас</a></li>
        <li class="header__nav__item"><a href="#">Услуги</a></li>
        <li class="header__nav__item"><a href="#">Авиабилеты</a></li>
        <li class="header__nav__item"><a href="#">Туры</a></li>
        <li class="header__nav__item"><a href="#">Партнерство</a></li>
        <li class="header__nav__item"><a href="#">Контакты</a></li>
      </ul>
    </div>
  </div>
  <div class="header__top">
    <div class="header__phones">
      <div class="header__phones__item">+7 (7172) 688 648</div>
      <div class="header__phones__item">+7 775 713 60 72</div>
    </div>
    <div class="header__ask">
      <a href="#" class="header__ask__btn">Задать вопрос</a>
    </div>
    <div class="header__language">
      <a href="#" class="header__language__btn"><img src="img/basic_world.svg" alt="language-btn"></a>
    </div>
  </div>
  <!-- <div class="hamburger">
    <ul class="header__nav__list">
      <li class="header__nav__item"><a href="#">Главная</a></li>
      <li class="header__nav__item"><a href="#">О нас</a></li>
      <li class="header__nav__item"><a href="#">Услуги</a></li>
      <li class="header__nav__item"><a href="#">Авиабилеты</a></li>
      <li class="header__nav__item"><a href="#">Туры</a></li>
      <li class="header__nav__item"><a href="#">Партнерство</a></li>
      <li class="header__nav__item"><a href="#">Контакты</a></li>
    </ul>
    <div class="header__phones">
      <div class="header__phones__item">+7 (7172) 688 648</div>
      <div class="header__phones__item">+7 775 713 60 72</div>
    </div>
    <div class="header__ask">
      <a href="#" class="header__ask__btn">Задать вопрос</a>
    </div>
    <div class="header__language">
      <a href="#" class="header__language__btn"><img src="img/basic_world.svg" alt="language-btn"></a>
    </div>
    </ul>
  </div> -->
  <button class="hamburger">menu &#9776;</button>
  <button class="cross">&#735;</button>

  <div class="menu">
    <ul>
      <a href="#"><li>Главная</li></a>
      <a href="#"><li>О нас</li></a>
      <a href="#"><li>Услуги</li></a>
      <a href="#"><li>Авиабилеты</li></a>
      <a href="#"><li>Туры</li></a>
      <a href="#"><li>Партнерство</li></a>
      <a href="#"><li>Контакты</li></a>
    </ul>
  </div>
</div>
