<section class="hottours">
  <div class="hottours__title">
    <span>Горящие туры</span>
  </div>
  <div class="hottours__cards">
    <a href="">
      <div class="hottours__card">
        <div class="hottours__photo" style="background-image: url(../img/card1.png);">
        </div>
        <div class="hottours__info">
          <div class="hottours__name">
            <div class="hottours__price">
              <span>от 253 т. КЗТ</span>
            </div>
            <span>Гранд тур по Италии + Париж</span>
          </div>
          <div class="hottours__location">
            <span>Италия, Франция</span>
          </div>
          <div class="hottours__date">
            <span>22.10.2016 - 22.10.2017</span>
          </div>
        </div>
      </div>
    </a>
    <a href="">
      <div class="hottours__card">
        <div class="hottours__photo" style="background-image: url(../img/card2.png);">
        </div>
        <div class="hottours__info">
          <div class="hottours__name">
            <div class="hottours__price">
              <span>от 253 т. КЗТ</span>
            </div>
            <span>Гранд тур по Италии + Париж</span>
          </div>
          <div class="hottours__location">
            <span>Италия, Франция</span>
          </div>
          <div class="hottours__date">
            <span>22.10.2016 - 22.10.2017</span>
          </div>
        </div>
      </div>
    </a>
    <a href="">
      <div class="hottours__card">
        <div class="hottours__photo" style="background-image: url(../img/card3.png);">
        </div>
        <div class="hottours__info">
          <div class="hottours__name">
            <div class="hottours__price">
              <span>от 253 т. КЗТ</span>
            </div>
            <span>Гранд тур по Италии + Париж</span>
          </div>
          <div class="hottours__location">
            <span>Италия, Франция</span>
          </div>
          <div class="hottours__date">
            <span>22.10.2016 - 22.10.2017</span>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="mouse">
    <img src="img/mouse.png" alt="">
  </div>
</section>
