<section class="service-internal-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="section-title">
                    УСЛУГИ
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="service-item service-item--left">
                    <a href="javascript:void(0);">
                        <div class="img-block" style="background-color: #7a43b6"></div>
                    </a>
                    <span>Внутренний туризм</span>
                    <p>Lorem ipsum dolor sit amet. Excepturi sint, obcaecati cupiditate. Dolorem ipsum, quia non recusandae velit esse. Asperiores repellat. facere possimus, omnis dolor sit. Dicta sunt, explicabo aliquid. Hic tenetur a sapiente delectus, ut aut fugit, sed ut. Est, qui ratione voluptatem sequi nesciunt, neque porro quisquam est, qui. Est, qui ratione voluptatem sequi nesciunt, neque porro quisquam est, qui.</p>
                    <div class="service-btn-block">
                        <a href="javascript:void(0);" class="btn">Подробнее</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="service-item">
                    <span>Внутренний туризм</span>
                    <p>Lorem ipsum dolor sit amet. Excepturi sint, obcaecati cupiditate. Dolorem ipsum, quia non recusandae velit esse. Asperiores repellat. facere possimus, omnis dolor sit. Dicta sunt, explicabo aliquid. Hic tenetur a sapiente delectus, ut aut fugit, sed ut. Est, qui ratione voluptatem sequi nesciunt, neque porro quisquam est, qui. Est, qui ratione voluptatem sequi nesciunt, neque porro quisquam est, qui.</p>
                    <div class="service-btn-block">
                        <a href="javascript:void(0);" class="btn">Подробнее</a>
                    </div>
                    <a href="javascript:void(0);">
                        <div class="img-block" style="background-color: #2a62bc"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>