<section class="servises">
  <div class="servises__title">
    <span>Услуги</span>
  </div>
  <div class="servises__list">
    <div class="servises__item">
      <a href="">
        <div class="icon-block">
          <i class="icon icon-service1"></i>
        </div>
      </a>
      <div class="servises__name"><span>servise1</span></div>
    </div>
    <div class="servises__item">
      <a href="">
        <div class="icon-block">
          <i class="icon icon-service2"></i>
        </div>
      </a>
      <div class="servises__name"><span>servise1</span></div>
    </div>
    <div class="servises__item">
      <a href="">
        <div class="icon-block">
          <i class="icon icon-service3"></i>
        </div>
      </a>
      <div class="servises__name"><span>servise1</span></div>
    </div>
    <div class="servises__item">
      <a href="">
        <div class="icon-block">
          <i class="icon icon-service4"></i>
        </div>
      </a>
      <div class="servises__name"><span>servise1</span></div>
    </div>
    <div class="servises__item">
      <a href="">
        <div class="icon-block">
          <i class="icon icon-service5"></i>
        </div>
      </a>
      <div class="servises__name"><span>servise1</span></div>
    </div>
    <div class="servises__item">
      <a href="">
        <div class="icon-block">
          <i class="icon icon-service6"></i>
        </div>
      </a>
      <div class="servises__name"><span>servise1</span></div>
    </div>
    <div class="servises__item">
      <a href="">
        <div class="icon-block">
          <i class="icon icon-service7"></i>
        </div>
      </a>
      <div class="servises__name"><span>servise1</span></div>
    </div>
    <div class="servises__item">
      <a href="">
        <div class="icon-block">
          <i class="icon icon-service8"></i>
        </div>
      </a>
      <div class="servises__name"><span>servise1</span></div>
    </div>
    <div class="servises__item">
      <a href="">
        <div class="icon-block">
          <i class="icon icon-service9"></i>
        </div>
      </a>
      <div class="servises__name"><span>servise1</span></div>
    </div>
    <div class="servises__item">
      <a href="">
        <div class="icon-block">
          <i class="icon icon-service10"></i>
        </div>
      </a>
      <div class="servises__name"><span>servise1</span></div>
    </div>
    <div class="servises__item">
      <a href="">
        <div class="icon-block">
          <i class="icon icon-service11"></i>
        </div>
      </a>
      <div class="servises__name"><span>servise1</span></div>
    </div>
    <div class="servises__item">
      <a href="">
        <div class="icon-block">
          <i class="icon icon-service12"></i>
        </div>
      </a>
      <div class="servises__name"><span>servise1</span></div>
    </div>
    <div class="servises__item">
      <a href="">
        <div class="icon-block">
          <i class="icon icon-service13"></i>
        </div>
      </a>
      <div class="servises__name"><span>servise1</span></div>
    </div>
    <div class="servises__item">
      <a href="">
        <div class="icon-block">
          <i class="icon icon-service14"></i>
        </div>
      </a>
      <div class="servises__name"><span>servise1</span></div>
    </div>

  </div>
</section>
