<section class="service-section">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-4">
                <div class="services-list">
                    <span>–– Услуги</span>
                    <div id="services-dropdown">Услуги <i class="fa fa-caret-down" aria-hidden="true"></i></div>
                    <ul class="nav nav-pills flex-column" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" id="outtourism-tab" data-toggle="pill" href="#outtourism" role="tab" aria-controls="outtourism" aria-selected="false">Выездной туризм</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="intourism-tab" data-toggle="tab" href="#intourism" role="tab" aria-controls="intourism" aria-selected="false">Внутренний туризм</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="viptourism-tab" data-toggle="tab" href="#viptourism" role="tab" aria-controls="viptourism" aria-selected="false">VIP туризм</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="aviatickets-tab" data-toggle="tab" href="#aviatickets" role="tab" aria-controls="aviatickets" aria-selected="false">Авиа билеты</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" id="corpserv-tab" data-toggle="tab" href="#corpserv" role="tab" aria-controls="corpserv" aria-selected="true">Корпоративное обслуживание</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">Медицинское страхование</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">Медицинский туризм</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">Трансфер</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">Гиды и переводчики</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">MICE</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">Образование зарубежом</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">Консалтинг</a>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="col-xl-9 col-lg-8">
                <div class="tab-content">
                    <div class="tab-pane fade" id="outtourism" role="tabpanel" aria-labelledby="outtourism-tab">
                        <div class="content-block">
                            <span>Выездной туризм</span>
                            <div class="text">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aliquid aperiam at cum, eaque enim exercitationem illum inventore modi nihil perspiciatis praesentium qui quos repudiandae saepe sequi, velit veritatis voluptatem.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet cupiditate dolores hic, impedit maxime modi saepe tempore! Adipisci alias aut autem beatae consectetur consequuntur laudantium magni quaerat voluptate, voluptatem voluptatibus.</p>
                            </div>
                            <div class="contact-form">
                                <div class="input-block">
                                    <input type="text" placeholder="Имя">
                                </div>
                                <div class="input-block">
                                    <input type="text" placeholder="Телефон">
                                </div>
                                <a href="javascript:void(0);" class="btn">ОСТАВИТЬ ЗАЯВКУ</a>
                            </div>
                        </div>
                        <div class="img-block" style="background-color: #00b3ee"></div>
                    </div>
                    <div class="tab-pane fade" id="intourism" role="tabpanel" aria-labelledby="intourism-tab">
                        <div class="content-block">
                            <span>Внутренний туризм</span>
                            <div class="text">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, non.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aliquid aperiam at cum, eaque enim exercitationem illum inventore modi nihil perspiciatis praesentium qui quos repudiandae saepe sequi, velit veritatis voluptatem.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet cupiditate dolores hic, impedit maxime modi saepe tempore! Adipisci alias aut autem beatae consectetur consequuntur laudantium magni quaerat voluptate, voluptatem voluptatibus.</p>
                            </div>
                            <div class="contact-form">
                                <div class="input-block">
                                    <input type="text" placeholder="Имя">
                                </div>
                                <div class="input-block">
                                    <input type="text" placeholder="Телефон">
                                </div>
                                <a href="javascript:void(0);" class="btn">ОСТАВИТЬ ЗАЯВКУ</a>
                            </div>
                        </div>
                        <div class="img-block" style="background-color: #7a43b6"></div>
                    </div>
                    <div class="tab-pane fade" id="viptourism" role="tabpanel" aria-labelledby="viptourism-tab">
                        <div class="content-block">
                            <span>VIP туризм</span>
                            <div class="text">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, non.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aliquid aperiam at cum, eaque enim exercitationem illum inventore modi nihil perspiciatis praesentium qui quos repudiandae saepe sequi, velit veritatis voluptatem.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, porro!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet cupiditate dolores hic, impedit maxime modi saepe tempore! Adipisci alias aut autem beatae consectetur consequuntur laudantium magni quaerat voluptate, voluptatem voluptatibus.</p>
                            </div>
                            <div class="contact-form">
                                <div class="input-block">
                                    <input type="text" placeholder="Имя">
                                </div>
                                <div class="input-block">
                                    <input type="text" placeholder="Телефон">
                                </div>
                                <a href="javascript:void(0);" class="btn">ОСТАВИТЬ ЗАЯВКУ</a>
                            </div>
                        </div>
                        <div class="img-block" style="background-color: thistle"></div>
                    </div>
                    <div class="tab-pane fade" id="aviatickets" role="tabpanel" aria-labelledby="aviatickets-tab">
                        <div class="content-block">
                            <span>Авиа билеты</span>
                            <div class="text">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus expedita magnam officiis perferendis, quas sequi!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, non.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aliquid aperiam at cum, eaque enim exercitationem illum inventore modi nihil perspiciatis praesentium qui quos repudiandae saepe sequi, velit veritatis voluptatem.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, porro!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet cupiditate dolores hic, impedit maxime modi saepe tempore! Adipisci alias aut autem beatae consectetur consequuntur laudantium magni quaerat voluptate, voluptatem voluptatibus.</p>
                            </div>
                            <div class="contact-form">
                                <div class="input-block">
                                    <input type="text" placeholder="Имя">
                                </div>
                                <div class="input-block">
                                    <input type="text" placeholder="Телефон">
                                </div>
                                <a href="javascript:void(0);" class="btn">ОСТАВИТЬ ЗАЯВКУ</a>
                            </div>
                        </div>
                        <div class="img-block" style="background-color: #292b2c"></div>
                    </div>
                    <div class="tab-pane fade show active" id="corpserv" role="tabpanel" aria-labelledby="corpserv-tab">
                        <div class="content-block">
                            <span>Корпоративное обслуживание</span>
                            <div class="text">
                                <p>Корпоративное обслуживание – это комплекс мероприятий, направленный на оптимизацию и контроль
                                    бизнес-поездок и корпоративных мероприятий наших клиентов, являющийся частью бизнес-процесса
                                    вашего предприятия.</p>
                                <p>Наша цель — обеспечить вам возможность сконцентрироваться на своей основной деятельности, получая
                                    все необходимые услуги от компании “Триумф Travel”. Поддерживая тесное партнерское
                                    взаимодействие, мы постоянно совершенствуем процесс нашей работы для максимального соответствия
                                    предоставляемых услуг потребностям клиента — Вашим потребностям!</p>
                            </div>
                            <div class="contact-form">
                                <div class="input-block">
                                    <input type="text" placeholder="Имя">
                                </div>
                                <div class="input-block">
                                    <input type="text" placeholder="Телефон">
                                </div>
                                <a href="javascript:void(0);" class="btn">ОСТАВИТЬ ЗАЯВКУ</a>
                            </div>
                        </div>
                        <div class="img-block" style="background-image: url('../img/corp-serv.png');"></div>
                    </div>
                    <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">
                        <div class="content-block">
                            <span>Lorem ipsum</span>
                            <div class="text">
                                <p>Корпоративное обслуживание – это комплекс мероприятий, направленный на оптимизацию и контроль
                                    бизнес-поездок и корпоративных мероприятий наших клиентов, являющийся частью бизнес-процесса
                                    вашего предприятия.</p>
                                <p>Наша цель — обеспечить вам возможность сконцентрироваться на своей основной деятельности, получая
                                    все необходимые услуги от компании “Триумф Travel”. Поддерживая тесное партнерское
                                    взаимодействие, мы постоянно совершенствуем процесс нашей работы для максимального соответствия
                                    предоставляемых услуг потребностям клиента — Вашим потребностям!</p>
                            </div>
                            <div class="contact-form">
                                <div class="input-block">
                                    <input type="text" placeholder="Имя">
                                </div>
                                <div class="input-block">
                                    <input type="text" placeholder="Телефон">
                                </div>
                                <a href="javascript:void(0);" class="btn">ОСТАВИТЬ ЗАЯВКУ</a>
                            </div>
                        </div>
                        <div class="img-block" style="background-image: url('../img/corp-serv.png');"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>