<section class="tour-info-section">
    <div class="cover">
        <div class="container">
            <span>Гранд тур по Италии + Париж<span class="price"> / от 253 т. KZT</span></span>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-xl-9">
                <div class="sort">
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home"
                               role="tab" aria-controls="pills-home" aria-selected="true">Информация</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile"
                               role="tab" aria-controls="pills-profile" aria-selected="false">Программа</a>
                        </li>
                    </ul>
                </div>
                <!--<div class="row">-->
                    <div class="tour-content-block">
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                                 aria-labelledby="pills-home-tab">
                                <div class="row">
                                <div class="col-xl-6 col-lg-12">
                                    <div class="tour-description">
                                        <div class="time-block">
                                            <div class="icon-block">
                                                <i class="icon icon-clock"></i>
                                            </div>
                                            <div class="time">
                                                <span>10 дней / 9 ночей</span>
                                                22.10.2016 - 22.10.2017
                                            </div>
                                        </div>
                                        <p>
                                            Маршрут: Рим – Флоренция –Монтекатини – Лидо ди Езоло / Падуя – Венеция – Париж
                                        </p>
                                        <p>
                                            Проживание по туру: Рим – 3 ночи – Флоренция – 1 ночь – Лидо ди Езоло 1 ночь –
                                            спальный вагон поезда 1 ночь из Венеции в Париж – Париж – 3 ночи
                                        </p>
                                        <p>
                                            Период действия тура: с 22.10.2016 – 22.10.2017
                                        </p>
                                        <p>
                                            Даты заездов: еженедельно по субботам, воскресеньям
                                        </p>
                                        <p>
                                            Экскурсии и достопримечательности по туру:

                                        </p>
                                        <p>
                                            обзорная экскурсия по Риму
                                            музеи Ватикана
                                            Собор Св. Петра
                                            Посещение Сиены
                                            Флоренция обзорная экскурсия
                                            Венеция обзорная экскурсия
                                            Экскурсия на кораблике по Сене
                                            Обзорная пешеходная экскурсия по Парижу
                                        </p>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-12">
                                    <div class="tour-map-block">
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d325518.68780316407!2d30.252511957059642!3d50.4016990487754!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cf4ee15a4505%3A0x764931d2170146fe!2z0JrQuNGX0LIsIDAyMDAw!5e0!3m2!1suk!2sua!4v1515159580134" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                                        <div class="map-btns">
                                            <a href="javascript:void(0);">
                                                <div class="icon-block">
                                                    <i class="icon icon-food"></i>
                                                </div>
                                            </a>
                                            <a href="javascript:void(0);">
                                                <div class="icon-block">
                                                    <i class="icon icon-plane"></i>
                                                </div>
                                            </a>
                                            <a href="javascript:void(0);">
                                                <div class="icon-block">
                                                    <i class="icon icon-hotel"></i>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-profile" role="tabpanel"
                                 aria-labelledby="pills-profile-tab">
                                <div class="shelude">
                                    <div class="row">
                                        <div class="col-xl-8">
                                            <ul>
                                                <li>
                                                    <span>1 день</span>
                                                    <p>Прилёт в аэропорт Рима и встреча с представителем компании. Трансфер и размещение в отеле.</p>
                                                </li>
                                                <li>
                                                    <span>2 день</span>
                                                    <p>Завтрак. 3-х часовая пешая обзорная экскурсия по городу. Факультативная экскурсия «Ночной Рим» (не включена в стоимость).  Ночь в отеле.</p>
                                                </li>
                                                <li>
                                                    <span>3 день</span>
                                                    <p>Завтрак. 3-х часовая экскурсия с русскоговорящим гидом в музеи Ватикана (входные билеты не включены) и Собор Св. Петра – вход бесплатный Ночь в отеле.</p>
                                                </li>
                                                <li>
                                                    <span>4 день</span>
                                                    <p>Завтрак. Свободное время в Риме или факультативная поездка в Неаполь (Помпеи) на целый день (не включена в стоимость). Ночь в отеле.</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                <!--</div>-->
            </div>
            <div class="col-lg-4 col-xl-3 flex-container justify-content-around">
                <div class="tour-search">
                    <span>Закажите этот тур</span>
                    <div class="input-block">
                        <div class="icon-block">
                            <i class="icon icon-loop"></i>
                        </div>
                        <input type="text" placeholder="Имя*">
                    </div>
                    <div class="input-block">
                        <div class="icon-block">
                            <i class="icon icon-compass"></i>
                        </div>
                        <input type="text" placeholder="Email*">
                    </div>
                    <div class="input-block">
                        <div class="icon-block">
                            <i class="icon icon-calendar"></i>
                        </div>
                        <input type="text" placeholder="Телефон">
                    </div>
                    <div class="textarea-block">
                        <textarea name="" id="" placeholder="Сообщение"></textarea>
                    </div>
                    <a href="javascript:void(0);" class="btn">связаться</a>
                </div>
            </div>
        </div>
    </div>
</section>