<section class="tours-section">
    <div class="cover">
        <span>ТУРЫ</span>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-xl-9">
                <div class="sort">
                    <a href="javascript:void(0);" class="active">Дата</a>
                    <a href="javascript:void(0);">Цена, по возрастанию</a>
                    <a href="javascript:void(0);">Цена, по убыванию</a>
                    <a href="javascript:void(0);">Название, (А - Я)</a>
                </div>
                <div class="tour-cards">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-xl-4">
                            <a href="javascript:void(0);">
                                <div class="tour-card">
                                    <div class="tour-card__photo" style="background-image: url('../img/card1.png');">
                                    </div>
                                    <div class="tour-card__info">
                                        <div class="tour-card__name">
                                            <div class="tour-card__price">
                                                <span>от 253 т. КЗТ</span>
                                            </div>
                                            <span>Гранд тур по Италии + Париж</span>
                                        </div>
                                        <div class="tour-card__location">
                                            <span>Италия, Франция</span>
                                        </div>
                                        <div class="tour-card__date">
                                            <span>22.10.2016 - 22.10.2017</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-4">
                            <a href="javascript:void(0);">
                                <div class="tour-card">
                                    <div class="tour-card__photo" style="background-image: url('../img/card2.png');">
                                    </div>
                                    <div class="tour-card__info">
                                        <div class="tour-card__name">
                                            <div class="tour-card__price">
                                                <span>от 253 т. КЗТ</span>
                                            </div>
                                            <span>Гранд тур по Италии + Париж</span>
                                        </div>
                                        <div class="tour-card__location">
                                            <span>Италия, Франция</span>
                                        </div>
                                        <div class="tour-card__date">
                                            <span>22.10.2016 - 22.10.2017</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-4">
                            <a href="javascript:void(0);">
                                <div class="tour-card">
                                    <div class="tour-card__photo" style="background-image: url('../img/card3.png');">
                                    </div>
                                    <div class="tour-card__info">
                                        <div class="tour-card__name">
                                            <div class="tour-card__price">
                                                <span>от 253 т. КЗТ</span>
                                            </div>
                                            <span>Гранд тур по Италии + Париж</span>
                                        </div>
                                        <div class="tour-card__location">
                                            <span>Италия, Франция</span>
                                        </div>
                                        <div class="tour-card__date">
                                            <span>22.10.2016 - 22.10.2017</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xl-3 flex-container justify-content-around">
                <div class="tour-search">
                    <span>Найдите ваше направление</span>
                    <div class="input-block">
                        <div class="icon-block">
                            <i class="icon icon-loop"></i>
                        </div>
                        <input type="text" placeholder="Искать тур">
                    </div>
                    <div class="input-block">
                        <div class="icon-block">
                            <i class="icon icon-compass"></i>
                        </div>
                        <input type="text" placeholder="Где?">
                    </div>
                    <div class="input-block">
                        <div class="icon-block">
                            <i class="icon icon-calendar"></i>
                        </div>
                        <input type="text" placeholder="Когда?">
                    </div>
                    <div class="tour-slider">
                        <div class="tour-slider-name">Фильтр цены</div>
                        <div class="slider-block">
                            <input id="priceRange" type="text" class="span2" value="" data-slider-min="250" data-slider-max="3500" data-slider-step="35" data-slider-value="[250,3500]" data-slider-tooltip="hide">
                        </div>
                        <p id="actualValue">КЗТ 250т - 3500т</p>
                    </div>
                    <div class="checkboxes">
                        <div class="checkbox-block">
                            <input type="checkbox" name="" id="hot">
                            <label for="hot">горящие</label>
                        </div>
                        <div class="checkbox-block">
                            <input type="checkbox" name="" id="exotic">
                            <label for="exotic">экзотические</label>
                        </div>
                        <div class="checkbox-block">
                            <input type="checkbox" name="" id="extreme">
                            <label for="extreme">экстремальные</label>
                        </div>
                    </div>
                    <a href="javascript:void(0);" class="btn">искать</a>
                </div>
            </div>
        </div>
    </div>
</section>