// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-letter-gray-name: 'icon-letter-gray';
$icon-letter-gray-x: 593px;
$icon-letter-gray-y: 475px;
$icon-letter-gray-offset-x: -593px;
$icon-letter-gray-offset-y: -475px;
$icon-letter-gray-width: 24px;
$icon-letter-gray-height: 24px;
$icon-letter-gray-total-width: 645px;
$icon-letter-gray-total-height: 499px;
$icon-letter-gray-image: '../img/sprites/sprite.png';
$icon-letter-gray: (593px, 475px, -593px, -475px, 24px, 24px, 645px, 499px, '../img/sprites/sprite.png', 'icon-letter-gray', );
$icon-phone-gray-name: 'icon-phone-gray';
$icon-phone-gray-x: 616px;
$icon-phone-gray-y: 387px;
$icon-phone-gray-offset-x: -616px;
$icon-phone-gray-offset-y: -387px;
$icon-phone-gray-width: 24px;
$icon-phone-gray-height: 24px;
$icon-phone-gray-total-width: 645px;
$icon-phone-gray-total-height: 499px;
$icon-phone-gray-image: '../img/sprites/sprite.png';
$icon-phone-gray: (616px, 387px, -616px, -387px, 24px, 24px, 645px, 499px, '../img/sprites/sprite.png', 'icon-phone-gray', );
$icon-png1-name: 'iconPng1';
$icon-png1-x: 367px;
$icon-png1-y: 205px;
$icon-png1-offset-x: -367px;
$icon-png1-offset-y: -205px;
$icon-png1-width: 48px;
$icon-png1-height: 32px;
$icon-png1-total-width: 645px;
$icon-png1-total-height: 499px;
$icon-png1-image: '../img/sprites/sprite.png';
$icon-png1: (367px, 205px, -367px, -205px, 48px, 32px, 645px, 499px, '../img/sprites/sprite.png', 'iconPng1', );
$icon-png10-name: 'iconPng10';
$icon-png10-x: 0px;
$icon-png10-y: 432px;
$icon-png10-offset-x: 0px;
$icon-png10-offset-y: -432px;
$icon-png10-width: 103px;
$icon-png10-height: 67px;
$icon-png10-total-width: 645px;
$icon-png10-total-height: 499px;
$icon-png10-image: '../img/sprites/sprite.png';
$icon-png10: (0px, 432px, 0px, -432px, 103px, 67px, 645px, 499px, '../img/sprites/sprite.png', 'iconPng10', );
$icon-png11-name: 'iconPng11';
$icon-png11-x: 470px;
$icon-png11-y: 296px;
$icon-png11-offset-x: -470px;
$icon-png11-offset-y: -296px;
$icon-png11-width: 82px;
$icon-png11-height: 63px;
$icon-png11-total-width: 645px;
$icon-png11-total-height: 499px;
$icon-png11-image: '../img/sprites/sprite.png';
$icon-png11: (470px, 296px, -470px, -296px, 82px, 63px, 645px, 499px, '../img/sprites/sprite.png', 'iconPng11', );
$icon-png12-name: 'iconPng12';
$icon-png12-x: 569px;
$icon-png12-y: 0px;
$icon-png12-offset-x: -569px;
$icon-png12-offset-y: 0px;
$icon-png12-width: 76px;
$icon-png12-height: 87px;
$icon-png12-total-width: 645px;
$icon-png12-total-height: 499px;
$icon-png12-image: '../img/sprites/sprite.png';
$icon-png12: (569px, 0px, -569px, 0px, 76px, 87px, 645px, 499px, '../img/sprites/sprite.png', 'iconPng12', );
$icon-png13-name: 'iconPng13';
$icon-png13-x: 240px;
$icon-png13-y: 182px;
$icon-png13-offset-x: -240px;
$icon-png13-offset-y: -182px;
$icon-png13-width: 105px;
$icon-png13-height: 80px;
$icon-png13-total-width: 645px;
$icon-png13-total-height: 499px;
$icon-png13-image: '../img/sprites/sprite.png';
$icon-png13: (240px, 182px, -240px, -182px, 105px, 80px, 645px, 499px, '../img/sprites/sprite.png', 'iconPng13', );
$icon-png14-name: 'iconPng14';
$icon-png14-x: 367px;
$icon-png14-y: 103px;
$icon-png14-offset-x: -367px;
$icon-png14-offset-y: -103px;
$icon-png14-width: 102px;
$icon-png14-height: 102px;
$icon-png14-total-width: 645px;
$icon-png14-total-height: 499px;
$icon-png14-image: '../img/sprites/sprite.png';
$icon-png14: (367px, 103px, -367px, -103px, 102px, 102px, 645px, 499px, '../img/sprites/sprite.png', 'iconPng14', );
$icon-png15-name: 'iconPng15';
$icon-png15-x: 470px;
$icon-png15-y: 0px;
$icon-png15-offset-x: -470px;
$icon-png15-offset-y: 0px;
$icon-png15-width: 99px;
$icon-png15-height: 101px;
$icon-png15-total-width: 645px;
$icon-png15-total-height: 499px;
$icon-png15-image: '../img/sprites/sprite.png';
$icon-png15: (470px, 0px, -470px, 0px, 99px, 101px, 645px, 499px, '../img/sprites/sprite.png', 'iconPng15', );
$icon-png16-name: 'iconPng16';
$icon-png16-x: 470px;
$icon-png16-y: 101px;
$icon-png16-offset-x: -470px;
$icon-png16-offset-y: -101px;
$icon-png16-width: 98px;
$icon-png16-height: 98px;
$icon-png16-total-width: 645px;
$icon-png16-total-height: 499px;
$icon-png16-image: '../img/sprites/sprite.png';
$icon-png16: (470px, 101px, -470px, -101px, 98px, 98px, 645px, 499px, '../img/sprites/sprite.png', 'iconPng16', );
$icon-png17-name: 'iconPng17';
$icon-png17-x: 470px;
$icon-png17-y: 199px;
$icon-png17-offset-x: -470px;
$icon-png17-offset-y: -199px;
$icon-png17-width: 97px;
$icon-png17-height: 97px;
$icon-png17-total-width: 645px;
$icon-png17-total-height: 499px;
$icon-png17-image: '../img/sprites/sprite.png';
$icon-png17: (470px, 199px, -470px, -199px, 97px, 97px, 645px, 499px, '../img/sprites/sprite.png', 'iconPng17', );
$icon-png18-name: 'iconPng18';
$icon-png18-x: 103px;
$icon-png18-y: 271px;
$icon-png18-offset-x: -103px;
$icon-png18-offset-y: -271px;
$icon-png18-width: 105px;
$icon-png18-height: 98px;
$icon-png18-total-width: 645px;
$icon-png18-total-height: 499px;
$icon-png18-image: '../img/sprites/sprite.png';
$icon-png18: (103px, 271px, -103px, -271px, 105px, 98px, 645px, 499px, '../img/sprites/sprite.png', 'iconPng18', );
$icon-png19-name: 'iconPng19';
$icon-png19-x: 367px;
$icon-png19-y: 0px;
$icon-png19-offset-x: -367px;
$icon-png19-offset-y: 0px;
$icon-png19-width: 103px;
$icon-png19-height: 103px;
$icon-png19-total-width: 645px;
$icon-png19-total-height: 499px;
$icon-png19-image: '../img/sprites/sprite.png';
$icon-png19: (367px, 0px, -367px, 0px, 103px, 103px, 645px, 499px, '../img/sprites/sprite.png', 'iconPng19', );
$icon-png2-name: 'iconPng2';
$icon-png2-x: 194px;
$icon-png2-y: 0px;
$icon-png2-offset-x: -194px;
$icon-png2-offset-y: 0px;
$icon-png2-width: 173px;
$icon-png2-height: 65px;
$icon-png2-total-width: 645px;
$icon-png2-total-height: 499px;
$icon-png2-image: '../img/sprites/sprite.png';
$icon-png2: (194px, 0px, -194px, 0px, 173px, 65px, 645px, 499px, '../img/sprites/sprite.png', 'iconPng2', );
$icon-png20-name: 'iconPng20';
$icon-png20-x: 569px;
$icon-png20-y: 475px;
$icon-png20-offset-x: -569px;
$icon-png20-offset-y: -475px;
$icon-png20-width: 24px;
$icon-png20-height: 24px;
$icon-png20-total-width: 645px;
$icon-png20-total-height: 499px;
$icon-png20-image: '../img/sprites/sprite.png';
$icon-png20: (569px, 475px, -569px, -475px, 24px, 24px, 645px, 499px, '../img/sprites/sprite.png', 'iconPng20', );
$icon-png21-name: 'iconPng21';
$icon-png21-x: 603px;
$icon-png21-y: 445px;
$icon-png21-offset-x: -603px;
$icon-png21-offset-y: -445px;
$icon-png21-width: 24px;
$icon-png21-height: 24px;
$icon-png21-total-width: 645px;
$icon-png21-total-height: 499px;
$icon-png21-image: '../img/sprites/sprite.png';
$icon-png21: (603px, 445px, -603px, -445px, 24px, 24px, 645px, 499px, '../img/sprites/sprite.png', 'iconPng21', );
$icon-png22-name: 'iconPng22';
$icon-png22-x: 569px;
$icon-png22-y: 209px;
$icon-png22-offset-x: -569px;
$icon-png22-offset-y: -209px;
$icon-png22-width: 58px;
$icon-png22-height: 58px;
$icon-png22-total-width: 645px;
$icon-png22-total-height: 499px;
$icon-png22-image: '../img/sprites/sprite.png';
$icon-png22: (569px, 209px, -569px, -209px, 58px, 58px, 645px, 499px, '../img/sprites/sprite.png', 'iconPng22', );
$icon-png23-name: 'iconPng23';
$icon-png23-x: 569px;
$icon-png23-y: 151px;
$icon-png23-offset-x: -569px;
$icon-png23-offset-y: -151px;
$icon-png23-width: 58px;
$icon-png23-height: 58px;
$icon-png23-total-width: 645px;
$icon-png23-total-height: 499px;
$icon-png23-image: '../img/sprites/sprite.png';
$icon-png23: (569px, 151px, -569px, -151px, 58px, 58px, 645px, 499px, '../img/sprites/sprite.png', 'iconPng23', );
$icon-png24-name: 'iconPng24';
$icon-png24-x: 415px;
$icon-png24-y: 205px;
$icon-png24-offset-x: -415px;
$icon-png24-offset-y: -205px;
$icon-png24-width: 31px;
$icon-png24-height: 31px;
$icon-png24-total-width: 645px;
$icon-png24-total-height: 499px;
$icon-png24-image: '../img/sprites/sprite.png';
$icon-png24: (415px, 205px, -415px, -205px, 31px, 31px, 645px, 499px, '../img/sprites/sprite.png', 'iconPng24', );
$icon-png25-name: 'iconPng25';
$icon-png25-x: 308px;
$icon-png25-y: 271px;
$icon-png25-offset-x: -308px;
$icon-png25-offset-y: -271px;
$icon-png25-width: 102px;
$icon-png25-height: 86px;
$icon-png25-total-width: 645px;
$icon-png25-total-height: 499px;
$icon-png25-image: '../img/sprites/sprite.png';
$icon-png25: (308px, 271px, -308px, -271px, 102px, 86px, 645px, 499px, '../img/sprites/sprite.png', 'iconPng25', );
$icon-png26-name: 'iconPng26';
$icon-png26-x: 208px;
$icon-png26-y: 271px;
$icon-png26-offset-x: -208px;
$icon-png26-offset-y: -271px;
$icon-png26-width: 100px;
$icon-png26-height: 88px;
$icon-png26-total-width: 645px;
$icon-png26-total-height: 499px;
$icon-png26-image: '../img/sprites/sprite.png';
$icon-png26: (208px, 271px, -208px, -271px, 100px, 88px, 645px, 499px, '../img/sprites/sprite.png', 'iconPng26', );
$icon-png27-name: 'iconPng27';
$icon-png27-x: 194px;
$icon-png27-y: 65px;
$icon-png27-offset-x: -194px;
$icon-png27-offset-y: -65px;
$icon-png27-width: 100px;
$icon-png27-height: 111px;
$icon-png27-total-width: 645px;
$icon-png27-total-height: 499px;
$icon-png27-image: '../img/sprites/sprite.png';
$icon-png27: (194px, 65px, -194px, -65px, 100px, 111px, 645px, 499px, '../img/sprites/sprite.png', 'iconPng27', );
$icon-png28-name: 'iconPng28';
$icon-png28-x: 617px;
$icon-png28-y: 316px;
$icon-png28-offset-x: -617px;
$icon-png28-offset-y: -316px;
$icon-png28-width: 27px;
$icon-png28-height: 27px;
$icon-png28-total-width: 645px;
$icon-png28-total-height: 499px;
$icon-png28-image: '../img/sprites/sprite.png';
$icon-png28: (617px, 316px, -617px, -316px, 27px, 27px, 645px, 499px, '../img/sprites/sprite.png', 'iconPng28', );
$icon-png29-name: 'iconPng29';
$icon-png29-x: 618px;
$icon-png29-y: 267px;
$icon-png29-offset-x: -618px;
$icon-png29-offset-y: -267px;
$icon-png29-width: 26px;
$icon-png29-height: 29px;
$icon-png29-total-width: 645px;
$icon-png29-total-height: 499px;
$icon-png29-image: '../img/sprites/sprite.png';
$icon-png29: (618px, 267px, -618px, -267px, 26px, 29px, 645px, 499px, '../img/sprites/sprite.png', 'iconPng29', );
$icon-png3-name: 'iconPng3';
$icon-png3-x: 603px;
$icon-png3-y: 411px;
$icon-png3-offset-x: -603px;
$icon-png3-offset-y: -411px;
$icon-png3-width: 34px;
$icon-png3-height: 34px;
$icon-png3-total-width: 645px;
$icon-png3-total-height: 499px;
$icon-png3-image: '../img/sprites/sprite.png';
$icon-png3: (603px, 411px, -603px, -411px, 34px, 34px, 645px, 499px, '../img/sprites/sprite.png', 'iconPng3', );
$icon-png30-name: 'iconPng30';
$icon-png30-x: 616px;
$icon-png30-y: 364px;
$icon-png30-offset-x: -616px;
$icon-png30-offset-y: -364px;
$icon-png30-width: 26px;
$icon-png30-height: 23px;
$icon-png30-total-width: 645px;
$icon-png30-total-height: 499px;
$icon-png30-image: '../img/sprites/sprite.png';
$icon-png30: (616px, 364px, -616px, -364px, 26px, 23px, 645px, 499px, '../img/sprites/sprite.png', 'iconPng30', );
$icon-png31-name: 'iconPng31';
$icon-png31-x: 569px;
$icon-png31-y: 316px;
$icon-png31-offset-x: -569px;
$icon-png31-offset-y: -316px;
$icon-png31-width: 48px;
$icon-png31-height: 48px;
$icon-png31-total-width: 645px;
$icon-png31-total-height: 499px;
$icon-png31-image: '../img/sprites/sprite.png';
$icon-png31: (569px, 316px, -569px, -316px, 48px, 48px, 645px, 499px, '../img/sprites/sprite.png', 'iconPng31', );
$icon-png32-name: 'iconPng32';
$icon-png32-x: 569px;
$icon-png32-y: 364px;
$icon-png32-offset-x: -569px;
$icon-png32-offset-y: -364px;
$icon-png32-width: 47px;
$icon-png32-height: 47px;
$icon-png32-total-width: 645px;
$icon-png32-total-height: 499px;
$icon-png32-image: '../img/sprites/sprite.png';
$icon-png32: (569px, 364px, -569px, -364px, 47px, 47px, 645px, 499px, '../img/sprites/sprite.png', 'iconPng32', );
$icon-png33-name: 'iconPng33';
$icon-png33-x: 569px;
$icon-png33-y: 267px;
$icon-png33-offset-x: -569px;
$icon-png33-offset-y: -267px;
$icon-png33-width: 49px;
$icon-png33-height: 49px;
$icon-png33-total-width: 645px;
$icon-png33-total-height: 499px;
$icon-png33-image: '../img/sprites/sprite.png';
$icon-png33: (569px, 267px, -569px, -267px, 49px, 49px, 645px, 499px, '../img/sprites/sprite.png', 'iconPng33', );
$icon-png34-name: 'iconPng34';
$icon-png34-x: 569px;
$icon-png34-y: 87px;
$icon-png34-offset-x: -569px;
$icon-png34-offset-y: -87px;
$icon-png34-width: 64px;
$icon-png34-height: 64px;
$icon-png34-total-width: 645px;
$icon-png34-total-height: 499px;
$icon-png34-image: '../img/sprites/sprite.png';
$icon-png34: (569px, 87px, -569px, -87px, 64px, 64px, 645px, 499px, '../img/sprites/sprite.png', 'iconPng34', );
$icon-png4-name: 'iconPng4';
$icon-png4-x: 0px;
$icon-png4-y: 0px;
$icon-png4-offset-x: 0px;
$icon-png4-offset-y: 0px;
$icon-png4-width: 194px;
$icon-png4-height: 182px;
$icon-png4-total-width: 645px;
$icon-png4-total-height: 499px;
$icon-png4-image: '../img/sprites/sprite.png';
$icon-png4: (0px, 0px, 0px, 0px, 194px, 182px, 645px, 499px, '../img/sprites/sprite.png', 'iconPng4', );
$icon-png5-name: 'iconPng5';
$icon-png5-x: 569px;
$icon-png5-y: 411px;
$icon-png5-offset-x: -569px;
$icon-png5-offset-y: -411px;
$icon-png5-width: 34px;
$icon-png5-height: 64px;
$icon-png5-total-width: 645px;
$icon-png5-total-height: 499px;
$icon-png5-image: '../img/sprites/sprite.png';
$icon-png5: (569px, 411px, -569px, -411px, 34px, 64px, 645px, 499px, '../img/sprites/sprite.png', 'iconPng5', );
$icon-png6-name: 'iconPng6';
$icon-png6-x: 0px;
$icon-png6-y: 371px;
$icon-png6-offset-x: 0px;
$icon-png6-offset-y: -371px;
$icon-png6-width: 124px;
$icon-png6-height: 61px;
$icon-png6-total-width: 645px;
$icon-png6-total-height: 499px;
$icon-png6-image: '../img/sprites/sprite.png';
$icon-png6: (0px, 371px, 0px, -371px, 124px, 61px, 645px, 499px, '../img/sprites/sprite.png', 'iconPng6', );
$icon-png7-name: 'iconPng7';
$icon-png7-x: 0px;
$icon-png7-y: 271px;
$icon-png7-offset-x: 0px;
$icon-png7-offset-y: -271px;
$icon-png7-width: 103px;
$icon-png7-height: 100px;
$icon-png7-total-width: 645px;
$icon-png7-total-height: 499px;
$icon-png7-image: '../img/sprites/sprite.png';
$icon-png7: (0px, 271px, 0px, -271px, 103px, 100px, 645px, 499px, '../img/sprites/sprite.png', 'iconPng7', );
$icon-png8-name: 'iconPng8';
$icon-png8-x: 120px;
$icon-png8-y: 182px;
$icon-png8-offset-x: -120px;
$icon-png8-offset-y: -182px;
$icon-png8-width: 120px;
$icon-png8-height: 81px;
$icon-png8-total-width: 645px;
$icon-png8-total-height: 499px;
$icon-png8-image: '../img/sprites/sprite.png';
$icon-png8: (120px, 182px, -120px, -182px, 120px, 81px, 645px, 499px, '../img/sprites/sprite.png', 'iconPng8', );
$icon-png9-name: 'iconPng9';
$icon-png9-x: 0px;
$icon-png9-y: 182px;
$icon-png9-offset-x: 0px;
$icon-png9-offset-y: -182px;
$icon-png9-width: 120px;
$icon-png9-height: 89px;
$icon-png9-total-width: 645px;
$icon-png9-total-height: 499px;
$icon-png9-image: '../img/sprites/sprite.png';
$icon-png9: (0px, 182px, 0px, -182px, 120px, 89px, 645px, 499px, '../img/sprites/sprite.png', 'iconPng9', );
$spritesheet-width: 645px;
$spritesheet-height: 499px;
$spritesheet-image: '../img/sprites/sprite.png';
$spritesheet-sprites: ($icon-letter-gray, $icon-phone-gray, $icon-png1, $icon-png10, $icon-png11, $icon-png12, $icon-png13, $icon-png14, $icon-png15, $icon-png16, $icon-png17, $icon-png18, $icon-png19, $icon-png2, $icon-png20, $icon-png21, $icon-png22, $icon-png23, $icon-png24, $icon-png25, $icon-png26, $icon-png27, $icon-png28, $icon-png29, $icon-png3, $icon-png30, $icon-png31, $icon-png32, $icon-png33, $icon-png34, $icon-png4, $icon-png5, $icon-png6, $icon-png7, $icon-png8, $icon-png9, );
$spritesheet: (645px, 499px, '../img/sprites/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
