// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-png1-name: 'iconPng1';
$icon-png1-x: 0px;
$icon-png1-y: 519px;
$icon-png1-offset-x: 0px;
$icon-png1-offset-y: -519px;
$icon-png1-width: 48px;
$icon-png1-height: 32px;
$icon-png1-total-width: 598px;
$icon-png1-total-height: 551px;
$icon-png1-image: 'sprite.png';
$icon-png1: (0px, 519px, 0px, -519px, 48px, 32px, 598px, 551px, 'sprite.png', 'iconPng1', );
$icon-png10-name: 'iconPng10';
$icon-png10-x: 387px;
$icon-png10-y: 221px;
$icon-png10-offset-x: -387px;
$icon-png10-offset-y: -221px;
$icon-png10-width: 103px;
$icon-png10-height: 67px;
$icon-png10-total-width: 598px;
$icon-png10-total-height: 551px;
$icon-png10-image: 'sprite.png';
$icon-png10: (387px, 221px, -387px, -221px, 103px, 67px, 598px, 551px, 'sprite.png', 'iconPng10', );
$icon-png11-name: 'iconPng11';
$icon-png11-x: 500px;
$icon-png11-y: 312px;
$icon-png11-offset-x: -500px;
$icon-png11-offset-y: -312px;
$icon-png11-width: 82px;
$icon-png11-height: 63px;
$icon-png11-total-width: 598px;
$icon-png11-total-height: 551px;
$icon-png11-image: 'sprite.png';
$icon-png11: (500px, 312px, -500px, -312px, 82px, 63px, 598px, 551px, 'sprite.png', 'iconPng11', );
$icon-png12-name: 'iconPng12';
$icon-png12-x: 500px;
$icon-png12-y: 215px;
$icon-png12-offset-x: -500px;
$icon-png12-offset-y: -215px;
$icon-png12-width: 76px;
$icon-png12-height: 87px;
$icon-png12-total-width: 598px;
$icon-png12-total-height: 551px;
$icon-png12-image: 'sprite.png';
$icon-png12: (500px, 215px, -500px, -215px, 76px, 87px, 598px, 551px, 'sprite.png', 'iconPng12', );
$icon-png13-name: 'iconPng13';
$icon-png13-x: 245px;
$icon-png13-y: 313px;
$icon-png13-offset-x: -245px;
$icon-png13-offset-y: -313px;
$icon-png13-width: 105px;
$icon-png13-height: 80px;
$icon-png13-total-width: 598px;
$icon-png13-total-height: 551px;
$icon-png13-image: 'sprite.png';
$icon-png13: (245px, 313px, -245px, -313px, 105px, 80px, 598px, 551px, 'sprite.png', 'iconPng13', );
$icon-png14-name: 'iconPng14';
$icon-png14-x: 223px;
$icon-png14-y: 192px;
$icon-png14-offset-x: -223px;
$icon-png14-offset-y: -192px;
$icon-png14-width: 102px;
$icon-png14-height: 102px;
$icon-png14-total-width: 598px;
$icon-png14-total-height: 551px;
$icon-png14-image: 'sprite.png';
$icon-png14: (223px, 192px, -223px, -192px, 102px, 102px, 598px, 551px, 'sprite.png', 'iconPng14', );
$icon-png15-name: 'iconPng15';
$icon-png15-x: 387px;
$icon-png15-y: 110px;
$icon-png15-offset-x: -387px;
$icon-png15-offset-y: -110px;
$icon-png15-width: 99px;
$icon-png15-height: 101px;
$icon-png15-total-width: 598px;
$icon-png15-total-height: 551px;
$icon-png15-image: 'sprite.png';
$icon-png15: (387px, 110px, -387px, -110px, 99px, 101px, 598px, 551px, 'sprite.png', 'iconPng15', );
$icon-png16-name: 'iconPng16';
$icon-png16-x: 500px;
$icon-png16-y: 0px;
$icon-png16-offset-x: -500px;
$icon-png16-offset-y: 0px;
$icon-png16-width: 98px;
$icon-png16-height: 98px;
$icon-png16-total-width: 598px;
$icon-png16-total-height: 551px;
$icon-png16-image: 'sprite.png';
$icon-png16: (500px, 0px, -500px, 0px, 98px, 98px, 598px, 551px, 'sprite.png', 'iconPng16', );
$icon-png17-name: 'iconPng17';
$icon-png17-x: 500px;
$icon-png17-y: 108px;
$icon-png17-offset-x: -500px;
$icon-png17-offset-y: -108px;
$icon-png17-width: 97px;
$icon-png17-height: 97px;
$icon-png17-total-width: 598px;
$icon-png17-total-height: 551px;
$icon-png17-image: 'sprite.png';
$icon-png17: (500px, 108px, -500px, -108px, 97px, 97px, 598px, 551px, 'sprite.png', 'iconPng17', );
$icon-png18-name: 'iconPng18';
$icon-png18-x: 0px;
$icon-png18-y: 313px;
$icon-png18-offset-x: 0px;
$icon-png18-offset-y: -313px;
$icon-png18-width: 105px;
$icon-png18-height: 98px;
$icon-png18-total-width: 598px;
$icon-png18-total-height: 551px;
$icon-png18-image: 'sprite.png';
$icon-png18: (0px, 313px, 0px, -313px, 105px, 98px, 598px, 551px, 'sprite.png', 'iconPng18', );
$icon-png19-name: 'iconPng19';
$icon-png19-x: 110px;
$icon-png19-y: 192px;
$icon-png19-offset-x: -110px;
$icon-png19-offset-y: -192px;
$icon-png19-width: 103px;
$icon-png19-height: 103px;
$icon-png19-total-width: 598px;
$icon-png19-total-height: 551px;
$icon-png19-image: 'sprite.png';
$icon-png19: (110px, 192px, -110px, -192px, 103px, 103px, 598px, 551px, 'sprite.png', 'iconPng19', );
$icon-png2-name: 'iconPng2';
$icon-png2-x: 204px;
$icon-png2-y: 0px;
$icon-png2-offset-x: -204px;
$icon-png2-offset-y: 0px;
$icon-png2-width: 173px;
$icon-png2-height: 65px;
$icon-png2-total-width: 598px;
$icon-png2-total-height: 551px;
$icon-png2-image: 'sprite.png';
$icon-png2: (204px, 0px, -204px, 0px, 173px, 65px, 598px, 551px, 'sprite.png', 'iconPng2', );
$icon-png20-name: 'iconPng20';
$icon-png20-x: 131px;
$icon-png20-y: 519px;
$icon-png20-offset-x: -131px;
$icon-png20-offset-y: -519px;
$icon-png20-width: 24px;
$icon-png20-height: 24px;
$icon-png20-total-width: 598px;
$icon-png20-total-height: 551px;
$icon-png20-image: 'sprite.png';
$icon-png20: (131px, 519px, -131px, -519px, 24px, 24px, 598px, 551px, 'sprite.png', 'iconPng20', );
$icon-png21-name: 'iconPng21';
$icon-png21-x: 165px;
$icon-png21-y: 519px;
$icon-png21-offset-x: -165px;
$icon-png21-offset-y: -519px;
$icon-png21-width: 24px;
$icon-png21-height: 24px;
$icon-png21-total-width: 598px;
$icon-png21-total-height: 551px;
$icon-png21-image: 'sprite.png';
$icon-png21: (165px, 519px, -165px, -519px, 24px, 24px, 598px, 551px, 'sprite.png', 'iconPng21', );
$icon-png22-name: 'iconPng22';
$icon-png22-x: 296px;
$icon-png22-y: 421px;
$icon-png22-offset-x: -296px;
$icon-png22-offset-y: -421px;
$icon-png22-width: 58px;
$icon-png22-height: 58px;
$icon-png22-total-width: 598px;
$icon-png22-total-height: 551px;
$icon-png22-image: 'sprite.png';
$icon-png22: (296px, 421px, -296px, -421px, 58px, 58px, 598px, 551px, 'sprite.png', 'iconPng22', );
$icon-png23-name: 'iconPng23';
$icon-png23-x: 364px;
$icon-png23-y: 421px;
$icon-png23-offset-x: -364px;
$icon-png23-offset-y: -421px;
$icon-png23-width: 58px;
$icon-png23-height: 58px;
$icon-png23-total-width: 598px;
$icon-png23-total-height: 551px;
$icon-png23-image: 'sprite.png';
$icon-png23: (364px, 421px, -364px, -421px, 58px, 58px, 598px, 551px, 'sprite.png', 'iconPng23', );
$icon-png24-name: 'iconPng24';
$icon-png24-x: 335px;
$icon-png24-y: 236px;
$icon-png24-offset-x: -335px;
$icon-png24-offset-y: -236px;
$icon-png24-width: 31px;
$icon-png24-height: 31px;
$icon-png24-total-width: 598px;
$icon-png24-total-height: 551px;
$icon-png24-image: 'sprite.png';
$icon-png24: (335px, 236px, -335px, -236px, 31px, 31px, 598px, 551px, 'sprite.png', 'iconPng24', );
$icon-png25-name: 'iconPng25';
$icon-png25-x: 110px;
$icon-png25-y: 421px;
$icon-png25-offset-x: -110px;
$icon-png25-offset-y: -421px;
$icon-png25-width: 102px;
$icon-png25-height: 86px;
$icon-png25-total-width: 598px;
$icon-png25-total-height: 551px;
$icon-png25-image: 'sprite.png';
$icon-png25: (110px, 421px, -110px, -421px, 102px, 86px, 598px, 551px, 'sprite.png', 'iconPng25', );
$icon-png26-name: 'iconPng26';
$icon-png26-x: 0px;
$icon-png26-y: 421px;
$icon-png26-offset-x: 0px;
$icon-png26-offset-y: -421px;
$icon-png26-width: 100px;
$icon-png26-height: 88px;
$icon-png26-total-width: 598px;
$icon-png26-total-height: 551px;
$icon-png26-image: 'sprite.png';
$icon-png26: (0px, 421px, 0px, -421px, 100px, 88px, 598px, 551px, 'sprite.png', 'iconPng26', );
$icon-png27-name: 'iconPng27';
$icon-png27-x: 0px;
$icon-png27-y: 192px;
$icon-png27-offset-x: 0px;
$icon-png27-offset-y: -192px;
$icon-png27-width: 100px;
$icon-png27-height: 111px;
$icon-png27-total-width: 598px;
$icon-png27-total-height: 551px;
$icon-png27-image: 'sprite.png';
$icon-png27: (0px, 192px, 0px, -192px, 100px, 111px, 598px, 551px, 'sprite.png', 'iconPng27', );
$icon-png28-name: 'iconPng28';
$icon-png28-x: 94px;
$icon-png28-y: 519px;
$icon-png28-offset-x: -94px;
$icon-png28-offset-y: -519px;
$icon-png28-width: 27px;
$icon-png28-height: 27px;
$icon-png28-total-width: 598px;
$icon-png28-total-height: 551px;
$icon-png28-image: 'sprite.png';
$icon-png28: (94px, 519px, -94px, -519px, 27px, 27px, 598px, 551px, 'sprite.png', 'iconPng28', );
$icon-png29-name: 'iconPng29';
$icon-png29-x: 58px;
$icon-png29-y: 519px;
$icon-png29-offset-x: -58px;
$icon-png29-offset-y: -519px;
$icon-png29-width: 26px;
$icon-png29-height: 29px;
$icon-png29-total-width: 598px;
$icon-png29-total-height: 551px;
$icon-png29-image: 'sprite.png';
$icon-png29: (58px, 519px, -58px, -519px, 26px, 29px, 598px, 551px, 'sprite.png', 'iconPng29', );
$icon-png3-name: 'iconPng3';
$icon-png3-x: 335px;
$icon-png3-y: 192px;
$icon-png3-offset-x: -335px;
$icon-png3-offset-y: -192px;
$icon-png3-width: 34px;
$icon-png3-height: 34px;
$icon-png3-total-width: 598px;
$icon-png3-total-height: 551px;
$icon-png3-image: 'sprite.png';
$icon-png3: (335px, 192px, -335px, -192px, 34px, 34px, 598px, 551px, 'sprite.png', 'iconPng3', );
$icon-png30-name: 'iconPng30';
$icon-png30-x: 500px;
$icon-png30-y: 385px;
$icon-png30-offset-x: -500px;
$icon-png30-offset-y: -385px;
$icon-png30-width: 26px;
$icon-png30-height: 23px;
$icon-png30-total-width: 598px;
$icon-png30-total-height: 551px;
$icon-png30-image: 'sprite.png';
$icon-png30: (500px, 385px, -500px, -385px, 26px, 23px, 598px, 551px, 'sprite.png', 'iconPng30', );
$icon-png31-name: 'iconPng31';
$icon-png31-x: 491px;
$icon-png31-y: 421px;
$icon-png31-offset-x: -491px;
$icon-png31-offset-y: -421px;
$icon-png31-width: 48px;
$icon-png31-height: 48px;
$icon-png31-total-width: 598px;
$icon-png31-total-height: 551px;
$icon-png31-image: 'sprite.png';
$icon-png31: (491px, 421px, -491px, -421px, 48px, 48px, 598px, 551px, 'sprite.png', 'iconPng31', );
$icon-png32-name: 'iconPng32';
$icon-png32-x: 549px;
$icon-png32-y: 421px;
$icon-png32-offset-x: -549px;
$icon-png32-offset-y: -421px;
$icon-png32-width: 47px;
$icon-png32-height: 47px;
$icon-png32-total-width: 598px;
$icon-png32-total-height: 551px;
$icon-png32-image: 'sprite.png';
$icon-png32: (549px, 421px, -549px, -421px, 47px, 47px, 598px, 551px, 'sprite.png', 'iconPng32', );
$icon-png33-name: 'iconPng33';
$icon-png33-x: 432px;
$icon-png33-y: 421px;
$icon-png33-offset-x: -432px;
$icon-png33-offset-y: -421px;
$icon-png33-width: 49px;
$icon-png33-height: 49px;
$icon-png33-total-width: 598px;
$icon-png33-total-height: 551px;
$icon-png33-image: 'sprite.png';
$icon-png33: (432px, 421px, -432px, -421px, 49px, 49px, 598px, 551px, 'sprite.png', 'iconPng33', );
$icon-png34-name: 'iconPng34';
$icon-png34-x: 222px;
$icon-png34-y: 421px;
$icon-png34-offset-x: -222px;
$icon-png34-offset-y: -421px;
$icon-png34-width: 64px;
$icon-png34-height: 64px;
$icon-png34-total-width: 598px;
$icon-png34-total-height: 551px;
$icon-png34-image: 'sprite.png';
$icon-png34: (222px, 421px, -222px, -421px, 64px, 64px, 598px, 551px, 'sprite.png', 'iconPng34', );
$icon-png4-name: 'iconPng4';
$icon-png4-x: 0px;
$icon-png4-y: 0px;
$icon-png4-offset-x: 0px;
$icon-png4-offset-y: 0px;
$icon-png4-width: 194px;
$icon-png4-height: 182px;
$icon-png4-total-width: 598px;
$icon-png4-total-height: 551px;
$icon-png4-image: 'sprite.png';
$icon-png4: (0px, 0px, 0px, 0px, 194px, 182px, 598px, 551px, 'sprite.png', 'iconPng4', );
$icon-png5-name: 'iconPng5';
$icon-png5-x: 334px;
$icon-png5-y: 75px;
$icon-png5-offset-x: -334px;
$icon-png5-offset-y: -75px;
$icon-png5-width: 34px;
$icon-png5-height: 64px;
$icon-png5-total-width: 598px;
$icon-png5-total-height: 551px;
$icon-png5-image: 'sprite.png';
$icon-png5: (334px, 75px, -334px, -75px, 34px, 64px, 598px, 551px, 'sprite.png', 'iconPng5', );
$icon-png6-name: 'iconPng6';
$icon-png6-x: 360px;
$icon-png6-y: 313px;
$icon-png6-offset-x: -360px;
$icon-png6-offset-y: -313px;
$icon-png6-width: 124px;
$icon-png6-height: 61px;
$icon-png6-total-width: 598px;
$icon-png6-total-height: 551px;
$icon-png6-image: 'sprite.png';
$icon-png6: (360px, 313px, -360px, -313px, 124px, 61px, 598px, 551px, 'sprite.png', 'iconPng6', );
$icon-png7-name: 'iconPng7';
$icon-png7-x: 387px;
$icon-png7-y: 0px;
$icon-png7-offset-x: -387px;
$icon-png7-offset-y: 0px;
$icon-png7-width: 103px;
$icon-png7-height: 100px;
$icon-png7-total-width: 598px;
$icon-png7-total-height: 551px;
$icon-png7-image: 'sprite.png';
$icon-png7: (387px, 0px, -387px, 0px, 103px, 100px, 598px, 551px, 'sprite.png', 'iconPng7', );
$icon-png8-name: 'iconPng8';
$icon-png8-x: 115px;
$icon-png8-y: 313px;
$icon-png8-offset-x: -115px;
$icon-png8-offset-y: -313px;
$icon-png8-width: 120px;
$icon-png8-height: 81px;
$icon-png8-total-width: 598px;
$icon-png8-total-height: 551px;
$icon-png8-image: 'sprite.png';
$icon-png8: (115px, 313px, -115px, -313px, 120px, 81px, 598px, 551px, 'sprite.png', 'iconPng8', );
$icon-png9-name: 'iconPng9';
$icon-png9-x: 204px;
$icon-png9-y: 75px;
$icon-png9-offset-x: -204px;
$icon-png9-offset-y: -75px;
$icon-png9-width: 120px;
$icon-png9-height: 89px;
$icon-png9-total-width: 598px;
$icon-png9-total-height: 551px;
$icon-png9-image: 'sprite.png';
$icon-png9: (204px, 75px, -204px, -75px, 120px, 89px, 598px, 551px, 'sprite.png', 'iconPng9', );
$spritesheet-width: 598px;
$spritesheet-height: 551px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($icon-png1, $icon-png10, $icon-png11, $icon-png12, $icon-png13, $icon-png14, $icon-png15, $icon-png16, $icon-png17, $icon-png18, $icon-png19, $icon-png2, $icon-png20, $icon-png21, $icon-png22, $icon-png23, $icon-png24, $icon-png25, $icon-png26, $icon-png27, $icon-png28, $icon-png29, $icon-png3, $icon-png30, $icon-png31, $icon-png32, $icon-png33, $icon-png34, $icon-png4, $icon-png5, $icon-png6, $icon-png7, $icon-png8, $icon-png9, );
$spritesheet: (598px, 551px, 'sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(../img/sprites/#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
