.footer{
  background-color: #8E98A7;
  padding-top: 90px;
  font-size: 18px;
  color: #E8E8E8;
  line-height: 1.7;
  @media (min-width: 1700px){
    .container {
      width: 1640px;
    }
  }
  &__logo{
    width: 173px;
    height: 65px;
    margin-bottom: 15px;
  }
  &__nav{
    &__item{
      display: block;
      a{
        color: #E8E8E8;
        font-size: 18px;
        transition: ease .3s;
        &:hover{
          color: #ffdc8c;
        }
      }
    }
  }
  &__btn{
    display: block;
    font-size: 20px;
    font-family: 'GothamPro-Medium';
    font-weight: 500;
    padding: 10px 33px 7px;
    margin: 0;
    border: 2px solid white;
    border-radius: 200px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 17px;
    transition: ease .3s;
    //&:hover {
    //  color: #8E98A7;
    //  border: 2px solid #8E98A7;
    //  background-color: #E8E8E8;
    //}
    &:hover{
      color: #B2985E;
      //border: 2px solid #23527c;
      background-color: white;
    }
  }
  //.contact{
  //  input{
  //
  //  }
  //}
  .description{
    margin-bottom: 15px;
    text-align: center;
  }
  input{
    &::-webkit-contacts-auto-fill-button {
      visibility: hidden;
      pointer-events: none;
      position: absolute;
      right: 0;
    }
    transition: ease .3s;
    width: 100%;
    border-radius: 8px;
    border: 2px solid transparent;
    outline: none;
    padding: 11px 20px;
    &:focus{
      border: 2px solid #ffdc8c;
    }
  }
  .social{
    .icon-block{
      display: inline-block;
      align-items: center;
      padding-right: 44px;
      &:last-child{
        padding-right: 0;
      }
    }
  }
  a{
    color: #E8E8E8;
    font-size: 18px;
  }
  .rights{
    vertical-align: bottom;
    margin-bottom: 55px;
  }
  .input-block{
    margin-bottom: 27px;
    &--icon{
      position: relative;
      .icon-block{
        position: absolute;
        top: 0;
        display: flex;
        align-items: center;
        height: 100%;
        right: 12px;
      }
    }
  }
  .rights{
    float: right;
  }
  .languages{
    &>a{
      transition: ease .3s;
      &:hover{
        color: #ffdc8c;
      }
    }
  }

}
@media (max-width: 991px) {
  .contact{
    padding-top: 15px;
    margin-top: 15px;
    border-top: solid 1px white;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: solid 1px white;
  }
  .social{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .rights{
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .languages{
    padding-top: 15px;
    margin-top: 15px;
    border-top: solid 1px white;
  }
  .address{
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: solid 1px white;
  }
}
@media (max-width: 420px) {
  .footer{
    .social{
      display: flex;
      justify-content: space-around;
      .icon-block{
        display: inline-block;
        align-items: center;
        padding-right: 0;
      }
    }
  }
}
