.hottours{
  padding-top: 115px;
  &__title{
    font-family: "RobotoSlab-Bold";
    font-size: 48px;
    color: #354677;
    text-align: center;
    margin-bottom: 117px;
  }
  &__cards{
    text-align: center;
  }
  &__card{
    display: inline-block;
    width: 400px;
    height: 485px;
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.16);
    border-radius: 5px;
    margin: 0 8px 50px;
  }
  &__photo{
    margin-bottom: 33px;
    width: 400px;
    height: 220px;
    overflow: hidden;
    background-position: center;
  }
  &__info{
    padding: 0 15px;
  }
  &__name{
    width: 100%;
    text-align: left;
    display: inline-block;
    font-family: "roboto-medium";
    font-size: 24px;
    color: #8E98A7;
    margin-bottom: 40px;
  }
  &__price{
    width: 50%;
    float: right;
    text-align: right;
    margin-left: 10px;
    font-family: "gotham pro";
    font-size: 24px;
    font-weight: 500;
    color: #333366;
  }
  &__location{
    text-align: left;
    font-family: "roboto-regular";
    font-size: 20px;
    color: #333366;
  }
  &__date{
    text-align: left;
    font-family: "roboto-medium";
    font-size: 24px;
    color: #8E98A7;
  }
}
