.start {
  width: 100%;
  min-height: 1090px;
  //background: url(../img/CastAway.png);
  background-size: cover;
  position: relative;
  padding-top: 120px;
  //z-index: 2;
  overflow-x: hidden;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    background-color: rgba(137, 166, 251, 0.35);
    display: block;
    width: 100%;
    height: 100%;
    z-index: 0;

  }
  video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -2;
    transform: translateX(-50%) translateY(-50%);
    background: url('../../video/CastAway/CastAway.jpg') no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1s opacity;
  }
  .stopfade {
    opacity: .5;
  }

  &__logo {
    position: relative;
    z-index: 1;
    height: 182px;
    width: 194px;
    margin: auto;
    margin-bottom: 49px;
  }
  &__description {
    position: relative;
    z-index: 1;
    margin: auto;
    margin-bottom: 35px;
    color: white;
    font-family: "GothamPro-Medium";
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    & > span {
      width: 100%;
      display: block;
      text-align: center;
    }
  }
  &__title {
    position: relative;
    z-index: 1;
    margin-bottom: 50px;
    text-align: center;
    line-height: 1.15;
    color: white;
    font-size: 80px;
    font-family: "robotoslab-bold";
    & > span {
      display: block;
    }
  }
  &__tour {
    position: relative;
    z-index: 1;
    margin-bottom: 50px;
    font-family: "RobotoSlab-Bold";
    color: white;
    font-size: 22px;
    text-align: center;
  }
  .mouse{
    position: relative;
    z-index: 1;
  }
  .mouse--white{
    .cls-1 {
      fill: none;
      stroke: white;
      stroke-miterlimit: 10;
      stroke-width: 2px;
    }
  }
}

@media (max-width: 1100px) {
  .start__title {
    font-size: 60px;
  }
}

@media (max-width: 860px) {
  .start__title {
    font-size: 50px;
  }
}

@media (max-width: 700px) {
  .start__title {
    font-size: 40px;
  }
}