.tours-section{
  width: 100%;
  color: $dark-blue;
  padding-bottom: 56px;
  //text-transform: uppercase;
//
  .cover{
    font-family: 'robotoslab-bold';
    color: white;
    font-size: 48px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 256px;
    background-image: url('../img/bg_tours-1.png');
    background-position-x: center;
    background-position-y: 75%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 14px;
    margin-bottom: 50px;
  }
  .sort{
    position: relative;
    //border-bottom: 2px solid $accent;
    padding-top: 20px;
    a{
      font-family: 'GothamPro-Medium';
      font-size: 24px;
      display: inline-block;
      color: $dark-blue;
      width: 20%;
      text-align: center;
      line-height: 1.2;
      padding-bottom: 32px;
    }
    .active{
      border-bottom: 8px solid $accent;
    }
    &:before{
      content: '';
      width: calc(200% + 30px);
      height: 100%;
      position: absolute;
      top: 2px;
      left: -100%;
      border-bottom: 2px solid $accent;
    }
  }
  .tour-card{
    display: inline-block;
    //min-width: 340px;
    background-color: #EFEADF;
    margin: 36px auto;
    &__photo{
      margin-bottom: 33px;
      width: 100%;
      height: 220px;
      overflow: hidden;
      background-position: center;
      background-size: cover;
    }
    &__info{
      padding: 0 15px;
    }
    &__name{
      width: 100%;
      text-align: left;
      display: inline-block;
      font-family: "roboto-medium";
      font-size: 24px;
      color: $dark-blue;
      margin-bottom: 40px;
    }
    &__price{
      width: 52%;
      float: right;
      text-align: right;
      margin-left: 10px;
      font-family: "GothamPro-Medium";
      font-size: 24px;
      font-weight: 500;
      color: $accent;
    }
    &__location{
      text-transform: capitalize;
      text-align: left;
      font-family: "roboto-regular";
      font-size: 20px;
      color: $dark-blue;
    }
    &__date{
      text-align: left;
      font-family: "roboto-medium";
      font-size: 24px;
      color: #8E98A7;
    }
  }
  .flex-container{
    display: flex;
  }
  .tour-search{
    width: 75%;
    //margin: 0 auto;
    span{
      display: block;
      font-family: 'GothamPro-Medium';
      font-size: 32px;
      color: $dark-blue;
      line-height: 1.2;
      margin-bottom: 25px;
    }
    .input-block{
      position: relative;
      border-bottom: solid 2px $accent;
      input{
        font-family: 'GothamPro-Medium';
        font-size: 20px;
        color: $dark-blue;
        display: block;
        border: none;
        width: 100%;
        padding: 12px 20px;
        margin-left: 30px;
        &:focus{
          outline: none;
        }
      }
      .icon-block{
        height: 100%;
        position: absolute;
        left: 7px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        //width: 210px;
        //height: 100px;
      }
    }
    .slider.slider-horizontal{
      width: calc(100% - 20px);
      .slider-track{
        height: 2px;
        margin-top: -1px;
        background-color: #fff;
      }
    }
    .slider-handle{
      background-image: none;
      box-shadow: none;
      border: none;
      background-color: #8E98A7;
    }
    .tour-slider-name{
      font-family: 'GothamPro-Medium';
      font-size: 20px;
      color: $dark-blue;
      //display: block;
      //border: none;
      width: 100%;
      padding: 12px 20px 0;
      margin-left: 30px;
    }
    .slider-block{
      display: flex;
      justify-content: space-around;
    }
    #actualValue{
      font-family: 'roboto-regular';
      font-size: 20px;
      color: $dark-blue;
      margin-top: 10px;
      margin-bottom: 21px;
    }
    input{

    }
    .checkbox-block{
      input{
        display: none;
        &:checked{
          &+label{
            &:before{
              background-color: $accent;
            }
          }
        }
      }
      label{
        font-family: 'roboto-regular';
        font-size: 20px;
        color: $dark-blue;
        line-height: 1;
        text-transform: uppercase;
        cursor: pointer;
        position: relative;
        padding-left: 44px;
        margin-bottom: 20px;
        &:before{
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 20px;
          height: 20px;
          border: solid 2px grey;
        }
      }
    }
    .checkboxes{
      margin-bottom: 35px;
    }
    .btn {
      display: inline-block;
      font-size: 20px;
      font-family: 'GothamPro-Medium';
      font-weight: 500;
      padding: 13px 20px;
      width: 100%;
      background-color: $blue;
      margin: 0;
      border: 2px solid $blue;
      border-radius: 200px;
      text-decoration: none;
      text-align: center;
      text-transform: uppercase;
      transition: ease .3s;
      &:hover {
        color: $blue;
        background-color: white;
      }
    }
  }

//
//  MEDIA
  @media (min-width: 1700px){
    .container {
      width: 1640px;
    }
  }
  @media (max-width: 1700px) {
    .sort a{
      font-size: 17px;
    }
    .tour-search {
      .input-block input{
        font-size: 16px;
      }
      .tour-slider-name{
        font-size: 16px;
      }
      #actualValue{
        font-size: 16px;
      }
      .checkbox-block label{
        font-size: 16px;
        line-height: 20px;
      }
      span{
        font-size: 26px;
      }
    }
    .tour-card{
      &__name,
      &__price,
      &__date{
        font-size: 17px;
      }
    }
  }
  @media (max-width: 1200px) {
  }
  @media (max-width: 992px) {
    .sort a{
      width: 24%;
    }
    .sort:before{
      width: 300%;
    }
  }
  @media (max-width: 768px) {
    .tour-card{
      width: 100%;
    }
    .cover{
      margin-top: 0;
    }
  }
  @media (max-width: 576px) {
    .sort a{
      font-size: 14px;
    }
  }
  @media (max-width: 400px) {
    .sort a{
      max-width: 24%;
      min-width: min-content;
      width: auto;
      font-size: 12px;
    }
  }
// MEDIA end
}
@media (max-width: 992px) {
  .service-section{
    padding-top: 20px;
  }
}